#menuonbai {
    margin: 20px 0px 0px 0px;
    padding: 0px 0px 20px 0px;
    display: block;
    text-align: right;
    line-height: 20px;
    width: 100%;
}
h2.ques {
    padding: 0px 0px 3px 0px;
    border-style: none none solid none;
    border-width: 1px;
    border-color: #666666;
    margin: 4px 0px 2px 0px;
    display: block;
    background-image: url('../images/onbai/question.png');
    background-repeat: no-repeat;
    font-size: 14px;
    line-height: 30px;
    text-indent: 35px;
    float: left;
    width: 98%;
}
.anwser {
    padding: 5px;
    margin: 5px 0px 5px 0px;
    display: none;
    float: left;
    width: 97%;
    background-color: #E2E2E2;
}
.show_anwser {
    background-image: url('../images/onbai/anwer.png');
    background-repeat: no-repeat;
    cursor: pointer;
    float: right;
    font-weight: bold;
    line-height: 20px;
    text-indent: 25px;
    height: 20px;
    width: 150px;
    margin: 2px 0px 2px 0px;
    display: block;
}
.bodyques {
    float: left;
    width: 100%;
    text-align: justify;
}
#menuonbai .menu1 {
    height: 20px;
    background-image: url('../images/onbai/compulsory.png');
    background-repeat: no-repeat;
    text-indent: 25px;
    float: right;
    width: 74px;
    margin: 0px 0px 0px 6px;
}
#menuonbai .menu3 {
    float: right;
    height: 20px;
    width: 130px;
    background-repeat: no-repeat;
    background-image: url('../images/onbai/test.png');
    margin: 0px 0px 0px 6px;
}
#menuonbai .menu2 {
    float: right;
    background-repeat: no-repeat;
    background-image: url('../images/onbai/ques.png');
    width: 144px;
    margin: 0px 0px 0px 6px;
}
.style1 {
    border-collapse: collapse;
}
.tableonbai {
    margin: 3px 0px 3px 0px;
    border: 1px solid #999999;
    border-collapse: collapse;
    float: left;
    width: 98%;
}
.tableonbai .giua {
    border: 1px solid #666666;
    border-collapse: collapse;
    text-align: center;
}
.tableonbai form input {
    margin: 0px;
    padding: 0px;
    float: left;
}
.tableonbai .test {
    padding: 5px;
    border: 1px solid #808080;
}
#numpage {
    float: left;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
#numpage p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}
#numpage a.next {
    background-color: #3366CC;
    color: #FFFFFF;
    line-height: 23px;
    padding: 2px 4px 2px 4px;
    margin-right: 3px;
    margin-left: 3px;
}
#numpage a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 23px;
    text-decoration: none;
    color: #0000CC;
    font-weight: bold;
}
#numpage a:hover {
    text-decoration: underline;
}
#numpage a.next:hover {
    background-color: #336699;
    color: #333333;
    line-height: 23px;
    padding: 2px 4px 2px 4px;
    margin-right: 3px;
    margin-left: 3px;
    text-decoration: none;
    font-weight: bold;
}
